@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Press+Start+2P&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@1,300&display=swap');
body{
  font-family: 'Roboto Condensed',sans-serif;
  font-weight:300 !important;
  margin-top:100px;
  /* text-shadow: 2px 2px 10px rgba(255,0,0,1); */
}

body h1{
  font-weight: 300px;
  margin: 20px 30px;
  position: absolute;
  z-index: 4;
}

#main-header{
  border-bottom:solid 2px;
  position:absolute;
  width:100vw;
  background:rgba(255, 255, 255, 0.8);
  top: 0px;
  height: 80px;
  left: 0px;
  /* height: 100vh; */
}

#main-header::after{
content:"";
display:block;
width:210px;
height: 40px;
background: #d80707;
position: absolute;
top: 20px;
left: 30;
z-index: 3;

}


#site-title{
  /* font-family: 'Press Start 2P'; */
}

#top-stories{
  max-width: 1000px;
  margin:auto;
}

article{
  max-width: 298px;
  display:inline-block;
  border:1px solid;
  padding: 10px;
  margin: 3px;
  box-shadow:2px 2px 5px rgba(133,0,250,1);
  transition: box-shadow .5s, background 1s ;
  /* transition-delay:5s; */
}

article:hover{
  box-shadow:5px 5px 20px rgba(0,0,0,.7);
  background: red;
}

article image{
  width: 100%;
  height: 100px;
}

.article-image{
  height: 200px;
  width:200px;
  background-size:cover !important;
  background-position: center !important;
  /* border-top-left-radius:100px 50px; */
  border-radius:100px;
}

a{
  text-decoration:underline line-through overline;
  text-decoration-color: green;
  text-decoration-style: dashed;
}

a:hover, a.more-links.bolded-links:hover{
  font-size:20px;
  color:#8f8;

}

.more-links{
  font-style: italic;
}

.bolded-links{
  font-weight:900;
}

.more-links.bolded-links{
  color: red;
}

p{
  letter-spacing: 2px;
  word-spacing:2px;
  /* text-indent: 20px; */
  text-align: center;
}
.my-inputt{
display: center;
width: 90%;
margin:10px;
padding: 10px 20px;
}
#btnjs{
  text-align:center;
}

.my-input , .my-textarea{
  display: block;
  width: 90%;
  margin:10px;
  padding: 10px 20px ;
  border-radius: 10px 10px 20px 50px;
  border:1px solid #000;
  resize: none;
}

.my-input:focus{

  background:rgb(235,213,52);
  color:rgb(255, 0, 0);
  outline:none;
}

article:active{
  opacity:.4;
}



.my-text{
  border:2px solid #000;
  height: 600px;
  max-height:200px;
  overflow:scroll;
  overflow-x:hidden;
}
